.design-hero {
  margin-top: 1rem;
}
.design-main-content {
  background: var(--light-gray);
  padding: 3rem 0;
}

.design-main-content .main-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.subtitle {
  color: var(--primary-color);
}
@media (min-width: 900px) {
  .design-hero {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .design-main-content .main-content-grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
