---
layout: layouts/base.njk
permalink: '/fi/cnc_works/'
locale: fi
title: 'page.cnc_works.title'
description: 'page.cnc_works.description'
canonical: '/fi/cnc_works/'
alternateLocalePath: '/en/cnc_works/'
---

<section class="page">
  <div class="container">
    <h1>{{ "page.cnc_works.title" | t(locale) }}</h1>
    <p>{{ "page.cnc_works.description" | t(locale) }}</p>
  </div>
</section>
