---
layout: layouts/base.njk
permalink: "/fi/contact/"
locale: fi
title: "page.contact.title"
description: "page.contact.description"
canonical: "/fi/contact/"
alternateLocalePath: "/en/contact/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.contact.title" | t(locale) }}</h1>
    <p>{{ "page.contact.description" | t(locale) }}</p>
  </div>
</section>
