---
layout: layouts/base.njk
permalink: "/fi/laser-cutting/"
locale: fi
title: "page.laser-cutting.title"
description: "page.laser-cutting.description"
canonical: "/fi/laser-cutting/"
alternateLocalePath: "/en/laser-cutting/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.laser-cutting.title" | t(locale) }}</h1>
    <p>{{ "page.laser-cutting.description" | t(locale) }}</p>
  </div>
</section>
