---
layout: layouts/base.njk
permalink: '/fi/led_neon/'
locale: fi
title: 'page.led_neon.title'
description: 'page.led_neon.description'
canonical: '/fi/led_neon/'
alternateLocalePath: '/en/led_neon/'
---

<section class="page">
  <div class="container">
    <h1>{{ "page.led_neon.title" | t(locale) }}</h1>
    <p>{{ "page.led_neon.description" | t(locale) }}</p>
  </div>
</section>
