---
layout: layouts/base.njk
permalink: "/fi/textile-printing/"
locale: fi
title: "page.textile-printing.title"
description: "page.textile-printing.description"
canonical: "/fi/textile-printing/"
alternateLocalePath: "/en/textile-printing/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.textile-printing.title" | t(locale) }}</h1>
    <p>{{ "page.textile-printing.description" | t(locale) }}</p>
  </div>
</section>
