---
layout: layouts/base.njk
permalink: "/fi/vehicle-wraps/"
locale: fi
title: "page.vehicle-wrap.title"
description: "page.vehicle-wrap.description"
canonical: "/fi/vehicle-wraps/"
alternateLocalePath: "/en/vehicle-wraps/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.vehicle-wrap.title" | t(locale) }}</h1>
    <p>{{ "page.vehicle-wrap.description" | t(locale) }}</p>
  </div>
</section>
