---
layout: layouts/base.njk
permalink: "/en/design/"
locale: en
title: "page.design.title"
description: "page.design.description"
canonical: "/en/design/"
alternateLocalePath: "/fi/design/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.design.title" | t(locale) }}</h1>
    <p>{{ "page.design.description" | t(locale) }}</p>
  </div>
</section>
