---
layout: layouts/base.njk
permalink: "/en/led-neon/"
locale: en
title: "page.led-neon.title"
description: "page.led-neon.description"
canonical: "/en/led-neon/"
alternateLocalePath: "/fi/led-neon/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.led-neon.title" | t(locale) }}</h1>
    <p>{{ "page.led-neon.description" | t(locale) }}</p>
  </div>
</section>
