---
layout: layouts/base.njk
permalink: "/en/lightbox-signs/"
locale: en
title: "page.lightbox.title"
description: "page.lightbox.description"
canonical: "/en/lightbox-signs/"
alternateLocalePath: "/fi/lightbox-signs/"
---

<section class="page">
  <div class="container">
    <h1>{{ "page.lightbox.title" | t(locale) }}</h1>
    <p>{{ "page.lightbox.description" | t(locale) }}</p>
  </div>
</section>
